<% if book.favorited_by?(current_user) %>
  <div class="like">
  <%= link_to book_favorites_path(book), method: :delete, id: "favo", remote: true do %>
    <i class="fa fa-heart fav-icon" aria-hidden="true" style="color: red;"></i>
  <% end %>
  </div>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, id: "favo", remote: true do %>
    <i class="fa fa-heart-o fav-icon" aria-hidden="true"></i>
  <% end %>
<% end %>
