<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<div class="row">
  <div class="col-offset-3 col-md-6">
    <h2>welcome to <strong>Bookers  !!</strong></h2>
    <p>
      In <b>Bookers,</b><br>
      you can share and exchange your opinions, inpressions, and emotions<br>
      about various books!
    </p><br>
    <%= link_to "Log in", new_user_session_path %><br>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
  <div class="col-offset-3">
  </div>
</div>
