/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header-logo {
  display: block;
  width: 100px;
  height: 50px;
  padding: 15px;

}

header {
  background-color: #222;
}
.header-title {
  float: left;
}
.header-title span{
  font-size: 20px;
  color: #fafafa;
}
.header-container {
width: 1170px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
height: 50px;
}
.header-lists {
  float: right;
}
ul {
  line-height: 18px;
  font-size: 13px;
  height: 50px;
  color: #9d9d9d;
  margin: 0;
}
ul::after {
  content: "";
  display: block;
  clear: both;
}
li {
  float: left;
  list-style: none;
  height: 50px;
  font-size: 13px;
  width: 85px;
  // padding: 15px;
}
li a:hover {
  color: #fafafa;
  text-decoration: none;
}
li a {
  color: #9d9d9d;
}
.main {
  width: 100%;
  font-size: 14px;
}
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.profile-edit-btn {
  display: inline-block;
  width: 292px;
  height: 33px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fafafa;
  padding-top: 8px;
  border-radius: 4px;
}
.profile-edit-btn:hover {
  background-color: #ccc;
}
.profile-table {
  height: 36px
}
.log-field {
  margin-bottom: 10px;
}
.actions {
  color: #fafafa;
}
.login1 input {
  background-color: #286090;
  height: 33px;
  width: 63px;
  border-color: #204d74;
  opacity: 0.8;
  border-radius: 4px;
}
.actions input:hover {
  opacity: 1;
}
.signup1 input{
  height: 33px;
  width: 72px;
  background-color: #449d44;
  opacity: 0.8;
  border-radius: 4px;
  border-color: #398439;
}
