label {
  font-size: 14px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.update {
  width: 100%;
  background-color: #286090;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #fafafa;
  opacity: 0.8;
}

.update:hover {
  opacity: 1;
}
